/*
 *	Title: CSS Styles for cocoaist.org
 *	Date: May 13, 2012
 *  Author: Taylan Pince (taylan at hippofoundry dot com)
 */


/* @group Global */

body {
    background-color: #dedac5;
}

#Container {
    width: 320px;
    padding: 0px 8px 0px 8px;
    margin: 20px auto 10px auto;
}

#BigLogo {
    height: 55px;
    display: block;
    text-indent: -9999px;
    margin: 0px 0px 15px 0px;
    background: transparent url("../images/logo-cocoaist.png") 50% 50% no-repeat;
}

/* @end */